/* place content below the top navbar */
body {
  margin-top: 50px;
}

/* icons in an active navbar item should be white */
.nav a.active .glyphicon {
  color: #fff;
}

/* helper class */
.no-margin {
  margin: 0px;
}
