{{#bs-form formLayout="inline" action="createBuild"}}
  {{#bs-form-group}}
    {{bs-input type="text" placeholder="new build" value=newBuild.name}}
  {{/bs-form-group}}

  {{#bs-button type="success" buttonType="submit"}}
    Create Build
  {{/bs-button}}
{{/bs-form}}

<p>

</p>

<table class="table table-hover">
  <thead>
    <th>
      Name
    </th>
    <th>
      State
    </th>
    <th>
      Task
    </th>
    <th>
      Submitted
    </th>
    <th>
      Starts
    </th>
    <th>
      Expires
    </th>
    <th>
      Destroyed
    </th>
  </thead>
  <tbody>
    {{#each model as |build|}}
      <tr>
        <td>
          {{link-to build.name "builds.build.instances" build}}
        </td>
        <td>
          {{state-label state=build.state noStateIcon="submit" noStateText="submitting"}}
        </td>
        <td>
          {{build.taskHuman}}
        </td>
        <td>
          {{moment-calendar build.submittedOn interval=60000}}
        </td>
        <td>
          {{moment-from-now build.startsOn interval=60000}}
        </td>
        <td>
          {{#if build.expiresOn}}
            {{moment-from-now build.expiresOn interval=60000}}
          {{else}}
            never
          {{/if}}
        </td>
        <td>
          {{#if build.destroyedOn}}
            {{moment-calendar build.destroyedOn interval=60000}}
          {{else}}
            not yet
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
