{{#if newHostFormOpen}}
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        {{#bs-form action="createHost"}}
          {{!-- name --}}
          {{#bs-form-group}}
            <label class="control-label">Name</label>
            {{bs-input type="text" placeholder="new host" value=newHost.name}}
          {{/bs-form-group}}

          {{!-- image --}}
          {{#bs-form-group}}
            <label class="control-label">Image</label>
            {{#x-select classNames="form-control" value=newHost.image}}
              {{#each model.images as |image|}}
                {{#x-option value=image}}{{image.name}}{{/x-option}}
              {{/each}}
            {{/x-select}}
          {{/bs-form-group}}

          {{!-- flavor --}}
          {{#bs-form-group}}
            <label class="control-label">Flavor</label>
            {{#x-select classNames="form-control" value=newHost.flavor}}
              {{#each model.flavors as |flavor|}}
                {{#x-option value=flavor}}{{flavor.name}}{{/x-option}}
              {{/each}}
            {{/x-select}}
          {{/bs-form-group}}
        {{/bs-form}}
      </div> {{!-- col-md-6 --}}

      <div class="col-md-6">
        {{!-- network attachments --}}
        {{#bs-form-group}}
          <label class="control-label">Attach Networks</label>

          <table>
            {{!-- the service network is always attached by Kudzu when we create
            the host; just show the disabled form elements here to match the
            other networks available for attachment --}}
            {{#with testbed.serviceNetwork as |network|}}
            <tr>
              <td>
                <div class="checkbox no-margin">
                  <label>
                    {{input type="checkbox" checked="checked" disabled="disabled"}}
                    {{network.name}}
                  </label>&nbsp;&nbsp;
                </div>
              </td>
              <td>
                <span class="text-muted">{{network.cidr}}</span>&nbsp;&nbsp;
              </td>
              <td>
                {{bs-input class="input-sm" placeholder="auto-assigned address" disabled="disabled"}}
              </td>
            </tr>
            {{/with}}

            {{!-- the user can actually interact with these components, which
            dictates which additional links will be created for the host --}}
            {{#each testbed.nonServiceNetworks as |network|}}
              <tr>
                <td>
                  <div class="checkbox no-margin">
                    <label>
                      {{input type="checkbox" checked=network.selected}}
                      {{network.name}}
                    </label>&nbsp;&nbsp;
                  </div>
                </td>
                <td>
                  <span class="text-muted">{{network.cidr}}</span>&nbsp;&nbsp;
                </td>
                <td>
                  {{bs-input value=network.newHostAddress class="input-sm" placeholder="auto-assigned address"}}
                </td>
              </tr>
            {{/each}}
          </table>
        {{/bs-form-group}}
      </div> {{!-- col-md-6 --}}
    </div> {{!-- row --}}

    <div class="row">
      <div class="col-md-12">
        <p class="text-right">
          {{#bs-button action="toggleNewHostForm"}}
            Close
          {{/bs-button}}&nbsp;
          {{#bs-button type="success" action="createHost"}}
            Create Host
          {{/bs-button}}
        </p>
      </div>
    </div> {{!-- row --}}
  </div> {{!-- well --}}
{{else}}
  {{#bs-button action="toggleNewHostForm"}}
    New Host
  {{/bs-button}}
{{/if}}

<p>

</p>

<table class="table table-hover">
  <thead>
    <th>
      Name
    </th>
    <th>
      Addresses
    </th>
    <th>
      Image
    </th>
    <th>
      Flavor
    </th>
    <th>
      Personas
    </th>
    <th>
      {{!-- actions dropdown --}}
    </th>
  </thead>
  <tbody>
    {{#each model.hosts as |host|}}
      <tr>
        <td>
          {{host.name}}
        </td>
        <td>
          <table>
            <tbody>
              {{#each host.links as |link|}}
                <tr>
                  <td class="text-muted">
                    {{link.network.name}}: &nbsp;
                  </td>
                  <td>
                    {{link.ipAddress}}
                  </td>
                  <td>
                    {{#unless link.network.service}}
                      &nbsp; <a href="#" {{action "deleteLink" link}}>&times;</a>
                    {{/unless}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </td>
        <td>
          {{host.image.name}}
        </td>
        <td>
          {{host.flavor.summary}}
        </td>
        <td>
          {{#each host.personaAssignmentsSorted as |pa|}}
            <span class="text-muted">{{pa.priority}}:</span>
            {{pa.persona.name}} &nbsp;<a href="#" {{action "deletePersonaAssignment" pa}}>&times;</a><br/>
          {{else}}
            <span class="text-muted">&mdash;</span>
          {{/each}}
        </td>
        <td align="right">
          <div class="dropdown">
            <a href="#" {{action "openAssignPersonaDialog" host}} title="Assign Persona">
              <span class="glyphicon glyphicon-user"></span></a>&nbsp;
            <a href="#" data-toggle="dropdown" title="More Options">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#" {{action "openAssignPersonaDialog" host}}>
                Assign Persona <span class="glyphicon glyphicon-user text-muted"></span> </a>
              </li>
              <li><a href="#" {{action "deleteHost" host}}>Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
    {{/each}}

    {{#bs-modal title="Assign Persona to Host" open=assignPersonaDialogOpen footer=false body=false}}
      {{#bs-modal-body}}
        {{#bs-form action="createPersonaAssignment"}}
          {{#bs-form-group}}
            <label class="control-label">Host</label>
            <p class="form-control-static">{{newPersonaAssignment.host.name}}</p>
          {{/bs-form-group}}

          {{#bs-form-group}}
            <label class="control-label">Persona</label>
            {{#x-select classNames="form-control" value=newPersonaAssignment.persona autofocus=true}}
              {{#each model.personas as |persona index|}}
                {{!-- setting default with workaround https://github.com/thefrontside/emberx-select/pull/90 --}}
                {{#if index}}
                  {{#x-option value=persona}}{{persona.name}}{{/x-option}}
                {{else}}
                  {{#x-option value=persona selected=true}}{{persona.name}}{{/x-option}}
                {{/if}}
              {{/each}}
            {{/x-select}}
          {{/bs-form-group}}

          {{#bs-form-group}}
            <label class="control-label">Priority</label>
            {{bs-input type="text" placeholder="50" value=newPersonaAssignment.priority}}
          {{/bs-form-group}}
        {{/bs-form}}
      {{/bs-modal-body}}
      {{#bs-modal-footer as |footer|}}
        {{#bs-button action=(action "close" target=footer)}}Cancel{{/bs-button}}
        {{#bs-button buttonType="submit" type="success"}}Assign{{/bs-button}}
      {{/bs-modal-footer}}
    {{/bs-modal}}
  </tbody>
</table>
