<div class="row">
  <div class="col-sm-12">
    <table width="100%">
      <tbody>
        <tr>
          <td>
            <h2>All Projects</h2>
          </td>
          <td align="right">
            {{link-to "New Project" "projects.new" class="btn btn-default"}}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
      </thead>
      <tbody>
        {{#each model as |project|}}
          <tr>
            <td>
              {{project.name}}
            </td>
            <td>
              {{project.description}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
