<div class="row">
  <div class="col-sm-12">
    <h2>New Project</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{#bs-form}}
      {{#bs-form-group}}
        <label>Name</label>
        {{bs-input type="text" value=model.name}}
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>Description</label>
        {{bs-input type="text" value=model.description}}
      {{/bs-form-group}}
      {{#bs-button type="success" action="save"}}
        Create Project
      {{/bs-button}}
    {{/bs-form}}
  </div>
</div>
