<h3 class="page-header">
  All Provisioners
</h3>

<p class="text-right">
  {{link-to "New Provisioner" "admin.provisioners.new" class="btn btn-default pull-right"}}
</p>

<table class="table table-hover">
  <thead>
    <th>Provisioner</th>
    <th>Provision Driver</th>
    <th></th>
  </thead>
  <tbody>
    {{#each model as |p|}}
      <tr>
        <td>
          {{p.name}}
        </td>
        <td>
          <code>{{p.provisionDriverSimple}}</code>
        </td>
        <td style="text-align: right">
          {{link-to "edit" "admin.provisioners.provisioner" p}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
