<h3 class="page-header">
  New Provisioner
</h3>

<div class="row">
  <div class="col-md-6">
    {{#bs-form model=newProvisioner}}
      {{bs-form-element controlType="text" property="name" label="Name"}}

      {{bs-form-element controlType="text" property="provisionDriver" label="Provision Driver"}}

      {{bs-form-element controlType="textarea" property="provisionConfig" label="Provision Config"}}

      {{#bs-button type="default" action="cancel"}}
        Cancel
      {{/bs-button}}

      {{#bs-button type="success" action="save"}}
        Save
      {{/bs-button}}

    {{/bs-form}}
  </div>
</div>
