<h3 class="page-header">
  {{model.name}}
</h3>

<div class="row">
  <div class="col-md-6">
    {{#bs-form model=model}}
      {{bs-form-element controlType="text" property="name" label="Name"}}

      {{#bs-form-group}}
        <label class="control-label">Provision Driver</label>
        <p class="form-control-static">
          <code>{{model.provisionDriver}}</code>
        </p>
      {{/bs-form-group}}

      {{bs-form-element controlType="textarea" property="provisionConfig" label="Provision Config"}}

      {{#bs-button type="default" action="cancel"}}
        Cancel
      {{/bs-button}}

      {{#bs-button type="success" action="save"}}
        Save
      {{/bs-button}}

    {{/bs-form}}
  </div>
</div>
