<h3 class="page-header">
  All Providers
</h3>

<p class="text-right">
  {{link-to "New Provider" "admin.providers.new" class="btn btn-default pull-right"}}
</p>

<table class="table table-hover">
  <thead>
    <th>Provider</th>
    <th>Testbed Driver</th>
    <th>Router Driver</th>
    <th></th>
  </thead>
  <tbody>
    {{#each model as |p|}}
      <tr>
        <td>
          {{p.name}}
        </td>
        <td>
          <code>{{p.testbedDriverSimple}}</code>
        </td>
        <td>
          <code>{{p.routerDriverSimple}}</code>
        </td>
        <td style="text-align: right">
          {{link-to "edit" "admin.providers.provider" p}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
