<h3 class="page-header">
  New Provider
</h3>

<div class="row">
  <div class="col-md-6">
    {{#bs-form model=newProvider}}
      {{bs-form-element controlType="text" property="name" label="Name"}}

      {{bs-form-element controlType="text" property="testbedDriver" label="Testbed Driver"}}

      {{bs-form-element controlType="textarea" property="testbedConfig" label="Testbed Config"}}

      {{bs-form-element controlType="text" property="routerDriver" label="Router Driver"}}

      {{bs-form-element controlType="textarea" property="routerConfig" label="Router Config"}}

      {{#bs-button type="default" action="cancel"}}
        Cancel
      {{/bs-button}}

      {{#bs-button type="success" action="save"}}
        Save
      {{/bs-button}}

    {{/bs-form}}
  </div>
</div>
