<h3 class="page-header">{{model.name}}</h3>

<div class="row">
  <div class="col-md-6">
    {{#bs-form}}
      {{bs-form-element controlType="text" value=model.name label="Name"}}

      {{#bs-form-group}}
        <label class="control-label">Testbed Driver</label>
        <p class="form-control-static">
          <code>{{model.testbedDriver}}</code>
        </p>
      {{/bs-form-group}}
      
      {{bs-form-element controlType="textarea" value=model.testbedConfig label="Testbed Config"}}

      {{#bs-form-group}}
        <label class="control-label">Router Driver</label>
        <p class="form-control-static">
          <code>{{model.routerDriver}}</code>
        </p>
      {{/bs-form-group}}

      {{bs-form-element controlType="textarea" value=model.routerConfig label="Router Config"}}

      {{#bs-button type="default" action="cancel"}}
        Cancel
      {{/bs-button}}

      {{#bs-button type="success" action="save"}}
        Save
      {{/bs-button}}

    {{/bs-form}}
  </div>
</div>
