<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Kudzu</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{!-- hide the projets link until we're ready for it  --}}
        {{!-- <li>{{link-to "Projects" "projects.index"}}</li> --}}
        <li>{{link-to "Testbeds" "testbeds.index"}}</li>
        <li>{{link-to "Builds" "builds.index"}}</li>
        <li>{{link-to "Personas" "personas.index"}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <ul class="dropdown-menu">
            <li>{{link-to "Providers" "admin.providers"}}</li>
            <li>{{link-to "Provisioners" "admin.provisioners"}}</li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{{outlet}}
{{outlet "modal"}}
