<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li>{{link-to "Testbed" "testbed.index" model}}</li>
        <li>{{link-to "Hosts" "testbed.hosts" model}}</li>
        <li>{{link-to "Networks" "testbed.networks" model}}</li>
        <li>{{link-to "Builds" "testbed.builds" model}}</li>
      </ul>
      <ul class="nav nav-sidebar">
        <li>{{link-to "Settings" "testbed.settings" model}}</li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h3 class="page-header">{{model.project.name}} / {{model.name}} <small>{{model.description}}</small></h3>

      {{outlet}}
    </div>
  </div>
</div>
